.lesson_info .materials
{
    padding: 24px;

    border-radius: 12px;
    background: #fcfcfe;
    box-shadow: 0 2px 2px rgba(195, 215, 233, .3);
}


.lesson_info .materials .head
{
    font-family: var(--font_family2);
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;

    position: relative;

    display: flex;

    margin-bottom: 14px;

    letter-spacing: 1px;
    text-transform: uppercase;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.lesson_info .materials .head .icon
{
    display: block;

    width: 14px;
    height: 16px;
    margin-right: 8px;

    fill: #b4b8cf;
}

.lesson_info .materials .head .arr
{
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;

    display: none;

    width: 32px;
    height: 32px;
    margin: auto;

    transition: background .2s linear;

    border-radius: 50%;
    background: #f9f9fc;
}

.lesson_info .materials .head .arr:after
{
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto;

    content: '';
    transition: .2s linear;
    transform: rotate(-45deg);

    border-bottom: 2px solid #b4b8cf;
    border-left: 2px solid #b4b8cf;
}

.lesson_info .materials .head.active .arr
{
    background: #f2f1ff;
}

.lesson_info .materials .head.active .arr:after
{
    top: 3px;

    transform: rotate(-225deg);

    border-color: #7a76ff;
}


.lesson_info .materials .list .material
{
    display: flex;

    width: 100%;
    padding: 16px 15px 18px 13px;

    text-align: left;

    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(195, 215, 233, .3);

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.lesson_info .materials .list .material + .material
{
    margin-top: 18px;
}


.lesson_info .materials .list .material .thumb
{
    position: relative;

    overflow: hidden;

    width: 93px;
    height: 51px;

    border-radius: 4px;
    background: #ddd;
}

.lesson_info .materials .list .material .thumb:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: linear-gradient(0deg, rgba(30, 41, 137, .6), rgba(30, 41, 137, .6));
}

.lesson_info .materials .list .material .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.lesson_info .materials .list .material .thumb .icon
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 4px;

    display: block;

    width: 16px;
    height: 19px;
    margin: auto;

    fill: #fff;
}


.lesson_info .materials .list .material .thumb + *
{
    width: calc(100% - 106px);

    align-self: center;
}

.lesson_info .materials .list .material .name
{
    color: #272443;
    font-size: 12px;
    line-height: 16px;
}

.lesson_info .materials .list .material .size
{
    color: #b4b8cf;
    font-family: var(--font_family2);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    margin-top: 3px;
}



@media (max-width: 1279px)
{
    .lesson_info .materials .list
    {
        display: flex;

        margin-left: -18px;

        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        flex-wrap: wrap;
    }

    .lesson_info .materials .list .material
    {
        width: calc(33.333% - 18px);
        margin-bottom: 18px;
        margin-left: 18px;
    }

    .lesson_info .materials .list .material + .material
    {
        margin-top: 0;
    }
}



@media (max-width: 1023px)
{
    .lesson_info .materials
    {
        padding: 0;

        background: #fff;
    }


    .lesson_info .materials .head
    {
        font-size: 13px;

        margin: 0;
        padding: 24px;
    }

    .lesson_info .materials .head .icon
    {
        margin-right: 12px;
    }

    .lesson_info .materials .head .arr
    {
        display: block;
    }


    .lesson_info .materials .list
    {
        display: none;

        padding: 0 24px;
    }

    .lesson_info .materials .head.active ~ .list
    {
        display: flex;

        -webkit-animation: fadeIn .5s linear both;
                animation: fadeIn .5s linear both;
    }

    .lesson_info .materials .list .vimaterialdeo
    {
        width: calc(50% - 18px);
    }
}



@media (max-width: 767px)
{
    .lesson_info .materials .head .arr
    {
        right: 20px;
    }


    .lesson_info .materials .list .material
    {
        width: calc(100% - 18px);
    }
}



@media (max-width: 479px)
{
    .lesson_info .materials
    {
        border-radius: 0;
    }
}
