.lesson_info .notes
{
    overflow: hidden;

    margin-bottom: 24px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(195, 215, 233, .3);
}


.lesson_info .notes .mob_btn
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    display: none;

    min-height: 80px;
    padding: 24px 80px 24px 60px;

    transition: color .2s linear;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.lesson_info .notes .mob_btn .icon
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;

    display: flex;

    width: 24px;
    height: 32px;
    margin: auto;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.lesson_info .notes .mob_btn .icon > *
{
    display: block;

    width: 17px;
    height: 17px;

    transition: fill .2s linear;

    fill: #272443;
}

.lesson_info .notes .mob_btn span
{
    color: #a3a7bd;
    font-size: 14px;

    margin-left: 8px;
}

.lesson_info .notes .mob_btn b
{
    color: #7a76ff;
}

.lesson_info .notes .mob_btn .arr
{
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;

    width: 32px;
    height: 32px;
    margin: auto;

    transition: background .2s linear;

    border-radius: 50%;
    background: #f9f9fc;
}

.lesson_info .notes .mob_btn .arr:after
{
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto;

    content: '';
    transition: .2s linear;
    transform: rotate(-45deg);

    border-bottom: 2px solid #b4b8cf;
    border-left: 2px solid #b4b8cf;
}


.lesson_info .notes .mob_btn.active
{
    color: #7a76ff;
}

.lesson_info .notes .mob_btn.active .icon > *
{
    fill: #7a76ff;
}

.lesson_info .notes .mob_btn.active .arr
{
    background: #f2f1ff;
}

.lesson_info .notes .mob_btn.active .arr:after
{
    top: 3px;

    transform: rotate(-225deg);

    border-color: #7a76ff;
}


.lesson_info .notes .mob_btn.active ~ .tabs_container
{
    display: block;

    -webkit-animation: fadeIn .5s linear both;
            animation: fadeIn .5s linear both;
}


.lesson_info .notes .head
{
    padding: 0 24px;

    border-bottom: 1px solid #f4f3fa;
}

.lesson_info .notes .tabs
{
    display: flex;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.lesson_info .notes .tabs button
{
    color: #969bb4;
    font-family: var(--font_family2);
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;

    position: relative;

    display: block;

    padding: 18px 0;

    transition: color .2s linear;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lesson_info .notes .tabs button:after
{
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;

    width: 0;
    height: 1px;
    margin: auto;

    content: '';
    transition: width .3s linear;

    background: #7a76ff;
}

.lesson_info .notes .tabs button + button
{
    margin-left: 24px;
}

.lesson_info .notes .tabs button span
{
    color: #a3a7bd;

    margin-left: 8px;
}

.lesson_info .notes .tabs button b
{
    color: #7a76ff;
}


.lesson_info .notes .tabs button:hover,
.lesson_info .notes .tabs button.active
{
    color: #272443;
}

.lesson_info .notes .tabs button.active:after
{
    width: 100%;
}


.lesson_info .notes .tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    height: 0;

    pointer-events: none;

    opacity: 0;
}

.lesson_info .notes .tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}


.lesson_info .notes .add_note
{
    width: 463px;
    max-width: 100%;
    padding: 24px;
}

.lesson_info .notes .add_note .form .submit_btn
{
    color: #7a76ff;
    font-size: 12px;
    line-height: 12px;

    width: 125px;
    height: 40px;
    min-height: 0;

    border: 1px solid rgba(122, 118, 255, .3);
    border-radius: 4px;
    background: none;
}

.lesson_info .notes .add_note .form .submit_btn:hover
{
    color: #fff;

    border-color: #7a76ff;
    background: #7a76ff;
    box-shadow: none;
}


.lesson_info .notes .note
{
    padding: 25px 72px 18px 24px;

    border-radius: 0;
    background: none;
    box-shadow: none;
}

.lesson_info .notes .note + .note
{
    margin-top: 0;

    border-top: 1px solid #f4f3fa;
}


.lesson_info .notes .load_more
{
    margin-top: 0;
    padding: 0 24px 24px;
}



@media (max-width: 1279px)
{
    .lesson_info .notes
    {
        order: 2;
    }


    .lesson_info .notes .mob_btn
    {
        display: flex;
    }

    .lesson_info .notes .tabs_container
    {
        display: none;
    }

    .lesson_info .notes .tabs button
    {
        font-size: 13px;

        padding: 13px 0;
    }

    .lesson_info .notes .tabs button span
    {
        display: none;
    }
}



@media (max-width: 767px)
{
    .lesson_info .notes .mob_btn
    {
        min-height: 72px;
        padding: 24px 72px 24px 56px;
    }

    .lesson_info .notes .mob_btn .icon
    {
        left: 20px;
    }

    .lesson_info .notes .mob_btn .arr
    {
        right: 20px;
    }


    .lesson_info .notes .head
    {
        padding: 0 20px;
    }


    .lesson_info .notes .tabs button
    {
        font-size: 12px;
    }


    .lesson_info .notes .note
    {
        padding: 18px 72px 18px 24px;
    }
}



@media (max-width: 479px)
{
    .lesson_info .notes
    {
        border-radius: 0;
    }
}
