.sidebar .app_links
{
    margin-top: 20px;
}

.sidebar .app_links > * + *
{
    margin-top: 2px;
}

.sidebar .app_links a
{
    color: #6c6f84;
    font-family: var(--font_family2);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    display: flex;

    padding: 8px 24px;

    transition: color .2s linear;
    text-decoration: none;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.sidebar .app_links .icon
{
    width: 16px;
    margin-right: 10px;
}

.sidebar .app_links .icon > *
{
    display: block;

    width: 16px;
    height: 16px;
    margin: 0 auto;

    transition: fill .2s linear;

    fill: #d3d3e8;
}

.sidebar .app_links .icon.ic_android > *
{
    width: 14px;
    height: 14px;
}

.sidebar .app_links .icon + *
{
    width: calc(100% - 26px);
}


.sidebar .app_links a:hover
{
    color: #7a76ff;
}

.sidebar .app_links a:hover .icon > *
{
    fill: #7a76ff;
}



body.mini .sidebar .app_links
{
    display: none;
}
