/*---------------------
    Mob author menu
---------------------*/
.mob_author_menu .mob_menu
{
    display: block;
}



.mob_author_menu .your_tariffs
{
    margin-top: 32px;
    padding: 24px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(195, 215, 233, .3);
}


.mob_author_menu .your_tariffs .title
{
    color: #6c6f84;
    font-family: var(--font_family2);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;

    margin-bottom: 24px;

    text-align: center;
}


.mob_author_menu .your_tariffs .change_btn
{
    color: #7a76ff;
    font-size: 14px;
    line-height: 14px;

    display: block;

    width: 100%;
    margin-top: 2px;
    padding: 20px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border: 1px solid rgba(122, 118, 255, .3);
    border-radius: 4px;
}

.mob_author_menu .your_tariffs .change_btn:hover
{
    color: #fff;

    background: #7a76ff;
}


.mob_author_menu .your_tariffs .tariff + .tariff
{
    margin-top: 4px;
}

.mob_author_menu .your_tariffs .tariff .head
{
    padding: 14px 20px;

    border-bottom: 1px solid #f6f6fb;
    background: #f9f9fc;
}

.mob_author_menu .your_tariffs .tariff .name,
.mob_author_menu .your_tariffs .tariff .count
{
    font-size: 14px;
    line-height: 19px;
}


.mob_author_menu .your_tariffs .tariff .points
{
    margin: 24px 20px 0;
}


.mob_author_menu .your_tariffs .tariff .valid_until
{
    padding: 20px;
}



.mob_author_menu .links
{
    margin-top: 32px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(195, 215, 233, .3);
}

.mob_author_menu .links > * + *
{
    border-top: 1px solid #f6f6fb;
}

.mob_author_menu .links a
{
    color: #6c6f84;
    font-family: var(--font_family2);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    display: flex;

    padding: 18px 24px;

    text-decoration: none;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_author_menu .links .icon
{
    width: 16px;
    margin-right: 10px;
}

.mob_author_menu .links .icon > *
{
    display: block;

    width: 16px;
    height: 16px;
    margin: 0 auto;

    fill: #969bb4;
}

.mob_author_menu .links .icon.ic_android > *
{
    width: 14px;
    height: 14px;
}

.mob_author_menu .links .icon + *
{
    width: calc(100% - 26px);
}



.mob_author_menu .logout
{
    color: #b4b8cf;
    font-family: var(--font_family2);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    display: flex;

    width: 100%;
    height: 48px;
    margin-top: 32px;
    margin-left: auto;

    transition: .2s linear;

    border: 1px solid rgba(180, 184, 207, .2);
    border-radius: 4px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_author_menu .logout .icon
{
    display: block;

    width: 15px;
    height: 14px;
    margin-right: 7px;

    fill: currentColor;
}

.mob_author_menu .logout:hover
{
    color: #6c6f84;

    border-color: #6c6f84;
}



@media (max-width: 767px)
{
    .mob_author_menu .your_tariffs .change_btn
    {
        margin-top: 8px;
        padding: 16px 20px;
    }


    .mob_author_menu .your_tariffs,
    .mob_author_menu .links,
    .mob_author_menu .logout
    {
        margin-top: 24px;
    }
}



@media (max-width: 479px)
{
    .mob_author_menu .your_tariffs
    {
        padding: 20px;
    }

    .mob_author_menu .your_tariffs .tariff .head
    {
        padding: 14px 16px;
    }

    .mob_author_menu .your_tariffs .tariff .name,
    .mob_author_menu .your_tariffs .tariff .count
    {
        font-size: 12px;
        line-height: 16px;
    }

    .mob_author_menu .your_tariffs .tariff .points
    {
        margin: 16px 16px 0;
    }

    .mob_author_menu .your_tariffs .tariff .valid_until
    {
        padding: 16px;
    }


    .mob_author_menu .links a
    {
        padding: 20px;
    }
}
