/*-------------
    Mob. add
-------------*/
.mob_add .row
{
    margin-bottom: -24px;
    margin-left: -24px;

    align-items: stretch;
    align-content: stretch;
}

.mob_add .row > *
{
    width: calc(50% - 24px);
    margin-bottom: 24px;
    margin-left: 24px;
}


.mob_add .btn
{
    color: #272443;
    font-size: 24px;
    line-height: 24px;

    display: flex;

    min-height: 157px;
    padding: 32px;

    transition: color .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 8px;
    background: #fcfcfe;
    box-shadow: 0 2px 2px rgba(195, 215, 233, .3);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_add .btn .icon
{
    display: block;

    margin: 0 auto 20px;

    transition: fill .2s linear;

    fill: #969bb4;
}

.mob_add .btn .icon.ic_course
{
    width: 36px;
    height: 40px;
}

.mob_add .btn .icon.ic_lesson
{
    width: 40px;
    height: 40px;
}

.mob_add .btn span
{
    display: block;

    width: 100%;
}


.mob_add .btn:hover
{
    color: #7a76ff;
}

.mob_add .btn:hover .icon
{
    fill: #7a76ff;
}



@media (max-width: 767px)
{
    .mob_add .btn
    {
        font-size: 14px;
        line-height: 14px;

        min-height: 140px;
        padding: 20px;
    }

    .mob_add .btn .icon.ic_course,
    .mob_add .btn .icon.ic_lesson
    {
        width: 27px;
        height: 27px;
    }
}



@media (max-width: 479px)
{
    .mob_add .btn
    {
        min-height: 120px;
    }
}
