/*----------
    Auth
----------*/
.auth_wrap
{
    display: flex;

    padding: 130px 20px;

    background: #f6f6fb;

    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.auth
{
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
}

.auth .title
{
    font-size: 32px;
    line-height: 40px;

    position: relative;

    margin-bottom: 48px;

    text-align: center;
}


.auth .back_btn
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 23px;
    height: 3px;
    margin: auto;

    background: #969bb4;
}

.auth .back_btn:before
{
    position: absolute;
    top: -10px;
    left: -10px;

    display: block;

    width: calc(100% + 20px);
    height: calc(100% + 20px);

    content: '';
}

.auth .back_btn:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 11px;
    height: 11px;
    margin: auto;

    content: '';
    transition: border-color .2s linear;
    transform: rotate(-45deg);

    border-top: 3px solid #969bb4;
    border-left: 3px solid #969bb4;
}


.auth .form
{
    padding: 32px;

    border-radius: 8px;
    background: #fff;
}


.auth .success_mes
{
    padding: 64px 32px 49px;

    border-radius: 8px;
    background: #fff;
}

.auth .success_mes .icon
{
    display: block;

    width: 48px;
    height: 59px;
    margin: 0 auto 20px;

    fill: #7a76ff;
}

.auth .success_mes .text
{
    font-family: var(--font_family2);
    font-size: 14px;
    line-height: 24px;

    width: 309px;
    max-width: 100%;
    margin: 0 auto;

    text-align: center;
}

.auth .success_mes .text b
{
    font-weight: 600;
}

.auth .success_mes .link
{
    color: #7a76ff;
    font-size: 15px;
    line-height: 15px;

    display: flex;

    min-height: 60px;
    margin-top: 24px;
    padding: 15px 24px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;
    background: #f2f1ff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.auth .success_mes .link:hover
{
    color: #fff;

    background: #7a76ff;
}


.auth .lock_data
{
    padding: 48px 32px;

    text-align: center;

    border-radius: 8px;
    background: #fff;
}

.auth .lock_data .icon
{
    width: 54px;
    height: 54px;
    margin-bottom: 20px;

    fill: #7a76ff;
}

.auth .lock_data .text
{
    font-family: var(--font_family2);
    font-size: 14px;
    line-height: 24px;
}

.auth .lock_data .timer
{
    font-family: var(--font_family2);
    font-weight: bold;

    display: flex;

    margin-top: 18px;

    text-align: center;

    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.auth .lock_data .timer .sep
{
    color: #b4b8cf;
    font-size: 18px;
    line-height: 60px;

    width: 26px;
    height: 64px;
}

.auth .lock_data .timer .val
{
    color: #7a76ff;
    font-size: 18px;
    line-height: 60px;

    width: 48px;
    height: 64px;

    border: 2px solid rgba(122, 118, 255, .25);
    border-radius: 4px;
    background: #f5f5ff;
}

.auth .lock_data .timer .name
{
    color: #7a76ff;
    font-size: 12px;
    line-height: 16px;

    margin-top: 8px;
}

.auth .lock_data .link
{
    color: #7a76ff;
    font-size: 15px;
    line-height: 15px;

    display: flex;

    min-height: 60px;
    margin-top: 32px;
    padding: 15px 24px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;
    background: #f2f1ff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.auth .lock_data .link:hover
{
    color: #fff;

    background: #7a76ff;
}


.auth .not_valid_data
{
    padding: 48px 32px;

    text-align: center;

    border-radius: 8px;
    background: #fff;
}

.auth .not_valid_data .icon
{
    width: 54px;
    height: 54px;
    margin-bottom: 20px;

    fill: #7a76ff;
}

.auth .not_valid_data .text
{
    font-family: var(--font_family2);
    font-size: 14px;
    line-height: 24px;
}

.auth .not_valid_data .link
{
    color: #7a76ff;
    font-size: 15px;
    line-height: 15px;

    display: flex;

    min-height: 60px;
    margin-top: 24px;
    padding: 15px 24px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;
    background: #f2f1ff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.auth .not_valid_data .link:hover
{
    color: #fff;

    background: #7a76ff;
}


.auth .bottom
{
    color: #6c6f84;
    font-size: 14px;
    line-height: 16px;

    margin-top: 32px;

    text-align: center;
}

.auth .bottom a
{
    color: #7a76ff;

    text-decoration: none;
}

.auth .bottom a:hover
{
    text-decoration: underline;
}



@media (max-width: 1439px)
{
    .auth_wrap
    {
        padding: 100px 20px;
    }

    .auth .title
    {
        font-size: 32px;
        line-height: 38px;

        margin-bottom: 40px;
    }
}



@media (max-width: 1279px)
{
    .auth_wrap
    {
        padding: 80px 20px;
    }

    .auth .title
    {
        margin-bottom: 35px;
    }
}



@media (max-width: 767px)
{
    .auth_wrap
    {
        padding: 60px 20px;
    }


    .auth .form
    {
        padding: 30px 30px 6px;
    }

    .auth .form .agree
    {
        margin-bottom: 24px;
    }

    .auth .title
    {
        font-size: 28px;
        line-height: 34px;
    }


    .auth .success_mes,
    .auth .lock_data
    {
        padding: 40px 25px;
    }
}



@media (max-width: 479px)
{
    .auth .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 30px;
    }


    .auth .form
    {
        padding: 15px;
    }


    .auth .success_mes,
    .auth .lock_data
    {
        padding: 40px 20px;
    }

    .auth .success_mes .text,
    .auth .lock_data .text
    {
        line-height: 22px;
    }
}
