.limit_modal
{
    padding: 32px;
}


.limit_modal .icon
{
    display: flex;

    height: 136px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.limit_modal .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.limit_modal .title
{
    font-size: 18px;
    line-height: 28px;

    text-align: center;
}


.limit_modal .link
{
    color: #fff;
    font-size: 13px;
    line-height: 13px;

    display: flex;

    width: 243px;
    height: 48px;
    margin: 24px auto 0;

    transition: background .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;
    background: #7a76ff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.limit_modal .link:hover
{
    background: #6a66e8;
}



@media (max-width: 767px)
{
    .limit_modal .title
    {
        font-size: 17px;
        line-height: 25px;
    }
}



@media (max-width: 479px)
{
    .limit_modal .title
    {
        font-size: 16px;
        line-height: 24px;
    }
}
