.notes .note
{
    position: relative;

    padding: 18px 60px 18px 18px;

    transition: box-shadow .2s linear;

    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(195, 215, 233, .3);
}

.notes .note + .note
{
    margin-top: 24px;
}


.notes .note .name
{
    font-size: 14px;
    line-height: 14px;
}


.notes .note .desc
{
    color: #6c6f84;
    font-family: var(--font_family2);
    font-size: 12px;
    line-height: 20px;

    margin-top: 8px;
}


.notes .note .del_btn
{
    position: absolute;
    top: 0;
    right: 18px;
    bottom: 0;

    display: flex;

    width: 32px;
    height: 32px;
    margin: auto;

    transition: .2s linear;

    opacity: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 12px rgba(167, 177, 210, .3);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.notes .note .del_btn .icon
{
    display: block;

    width: 16px;
    height: 16px;

    transition: fill .2s linear;

    fill: #b4b8cf;
}

.notes .note .del_btn:hover
{
    background: #ffe0e0;
}

.notes .note .del_btn:hover .icon
{
    fill: #f55;
}


.notes .note:hover
{
    box-shadow: 0 2px 14px rgba(131, 159, 202, .28);
}

.notes .note:hover .del_btn,
.mob_notes .note .del_btn
{
    opacity: 1;
}



@media (max-width: 1279px)
{
    .notes .note .del_btn
    {
        opacity: 1;
    }
}


@media (max-width: 767px)
{
    .mob_notes .note + .note
    {
        margin-top: 20px;
    }

    .mob_notes .note
    {
        padding-right: 62px;
    }

    .mob_notes .note .del_btn
    {
        right: 15px;
    }
}
