.top_panel .user
{
    color: currentColor;

    display: none;

    margin-left: auto;

    text-decoration: none;
}

.top_panel .user .avatar
{
    position: relative;

    width: 48px;
    height: 48px;

    border-radius: 50%;
    background: #ddd;
}

.top_panel .user .avatar img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.top_panel .user .avatar .icon
{
    position: absolute;
    right: 1px;
    bottom: -3px;

    display: flex;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background: #7a76ff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.top_panel .user .avatar .icon > *
{
    display: block;

    width: 10px;
    height: 10px;

    fill: #fff;
}



@media (max-width: 1023px)
{
    .top_panel .user
    {
        display: block;
    }
}



@media (max-width: 767px)
{
    .top_panel .user .avatar
    {
        width: 32px;
        height: 32px;
    }

    .top_panel .user .avatar .icon
    {
        right: -3px;

        width: 14px;
        height: 14px;
    }

    .top_panel .user .avatar .icon > *
    {
        width: 8px;
        height: 8px;
    }
}
